:root {
  --logo-margin-top: 56px;
}

.logo-container {
    height: 220px;
    margin-top: var(--logo-margin-top);
    position: relative;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.google-logo {
    height: 92px;
}

.doodle-logo {
    height: 220px;
}

.loading-wrapper {
    padding-top: 120px;
    text-align: center;
}

.google-search-container {
    margin: 12px auto;
    width: 580px;
}

.google-search-box {
    position: relative;
    background-color: #fff;
    height: 46px;
    border-radius: 22px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
}

.google-serach-box:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.google-search-input {
    position: absolute;
    bottom: 5px;
    width: 100%;
    padding: 0 20px;
    height: 34px;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.google-search-input:focus {
  outline: none;
}

.class {
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Google Sans Display',sans-serif;
}

.weather {
    position: fixed;
    top: 16px;
    right: 16px
}
