:root {
  --logo-margin-top: 56px;
}

.logo-container {
    height: 200px;
    margin-top: var(--logo-margin-top);
    min-height: fit-content;
    position: relative;
}

.google-logo {
    height: 92px;
    left: calc(50% - 272px/2);
    bottom: 0;
    position: absolute;
    width: 272px;
    text-align: center;
}
